[submodule "CMake/CMakePCHCompiler"]
	path = CMake/CMakePCHCompiler
	url = https://github.com/nanoant/CMakePCHCompiler.git
[submodule "client"]
	path = client
	url = https://github.com/tov/gsc-client.git
[submodule "3rdparty/wt"]
	path = 3rdparty/wt
	url = https://github.com/emweb/wt.git
