$tt-fam: "Menlo",monospace;
$sf-fam: "Helvetica Neue",sans-serif;

$sf-h1: 200 50px $sf-fam;
$sf-h2: 200 40px $sf-fam;
$sf-h3: 300 28px $sf-fam;

$sf-h4: 500 20px $sf-fam;
$tt-h4:     20px $tt-fam;

$sf-bd: 400 20px      $sf-fam;
$tt-bd:     16px      $tt-fam;

$sf-sm: 400 16px      $sf-fam;
$tt-sm:     13px      $tt-fam;

$sf-ls: 400 11px/11px $sf-fam;
$tt-ls:     12px/16px $tt-fam;

$docked-color: #fcd;
$explanation-color: #cdf;

$radius: 15px;
$inverse-bg: #606;
$inverse-fg: white;
$highlight-bg: #dcd;

$file-viewer-height: 600px;
$file-viewer-width: 800px;
$code-number-width: 40px;
$file-viewer-gutter: 10px;
$code-line-padding: 6px;
$code-number-padding: 3px;
$fudge-pixels: 4px;

$single-file-width: $file-viewer-width - 2 * $file-viewer-gutter;
$code-line-width: $single-file-width - 2 * ($code-number-padding + $code-line-padding) - $fudge-pixels;

body {
    font: $sf-bd;
}

h1 {
    font: $sf-h1;
    margin: 0 1ex;
    padding: 0;

    small {
      font: $sf-h2;
    }
}

h2 {
    font: $sf-h2;
}

code {
    font-family: $tt-fam;
    color: inherit;
    background-color: inherit;
    border: 0;
    margin: 0;
    padding: 0;
}

var {
    font-family: $tt-fam;
    font-style: italic;
}

table .invalid {
    border: 3px dotted red;
}

.admin-view,
.assignments-view,
.file-list,
.file-viewer,
.grading-stats-view,
.profile-view,
.submissions-view {
    table {
        margin: 1em auto;
        border-collapse: collapse;

        thead th {
            text-align: center;
        }

        thead,
        tbody:nth-child(2) {
            tr:first-child th:first-child {
                border-top-left-radius: $radius;
            }
        }

        tbody:nth-child(2) {
            tr:last-child th:first-child {
                border-bottom-left-radius: $radius;
            }
        }

        th, td {
            vertical-align: middle;
            border: 0;
        }

        th {
            padding: 5px 10px;
            font: $sf-h3;
            color: $inverse-fg;
            background: $inverse-bg;

            a {
                color: white;
            }

            a:hover {
                color: lightyellow;;
            }
        }

        td {
            padding: 3px 6px;
            font: $sf-sm;
        }

        td.numeric {
            text-align: right;
            font-family: $tt-fam;
        }

        td>input, td>button {
            display: block;
            margin: 0 auto;
        }

        input {
            margin: 0;
        }
    }
}

.admin-view table {
    td {
        select, input {
            display: inline;
            margin-right: 10px;
            width: 120px;
        }
    }
}

.submissions-view {
    table {
        .past, .future {
            color: lightgray;
        }

        .past input {
            background-color: lightgray;
        }

        .open, .self-eval {
            background-color: lightyellow;
        }

        button {
            display: block;
            margin: 0 auto;
        }

        input {
            width: 100px;
            margin: 0;
        }
    }

    .extended input {
        color: darkred;
    }

    .partner-notification {
        margin: 1em;
        text-align: center;
    }
}

.assignments-view {
    table {
        margin: 1em auto;
        vertical-align: middle;

        input {
            margin: 0;
        }
    }

    .name-edit {
        width: 10em;
    }
}

.edit-assignment-view {
    padding: 1em;
}

.submission-owner-widget {
    width: 240px;
    text-align: center;
    margin: 0 auto 1em auto;
}

.edit-eval-item {
    .prompt {
        width: 600px;
        height: 3em;
    }

    .relative-value {
        width: 30px;
    }
}

.file-viewer {
    border: 2px outset $highlight-bg;
    background-color: $highlight-bg;
    padding: 0;

    select {
        font: $sf-h4;
        margin: 0;
        border: 0;
        border-radius: 0;
        background-color: transparent;
    }

    .file-viewer-area {
        position: relative;
        padding: 0;
        width: $file-viewer-width;
        height: $file-viewer-height;

        .line-file-viewer,
        .html-file-viewer {
            width: $single-file-width;
            max-width: $single-file-width;
            overflow-x: scroll;
            margin: $file-viewer-gutter auto;
            background-color: white;
            border-radius: $radius 0;

            table {
                margin: 0;
            }

            th {
                margin: 0;
                vertical-align: middle;
            }

            thead th {
                padding: 6px 0;
                font: $tt-h4;
                width: $file-viewer-width;
            }

            tr:last-child td:last-child {
                padding-bottom: 6px;
            }
        }

        .line-file-viewer {
            th.code-number {
                width: $code-number-width;
                font: $sf-ls;
                color: white;
                padding: 0 $code-number-padding;
                text-align: center;
            }

            td.code-line {
                padding: 0 $code-line-padding;
                font: $tt-ls;
                white-space: pre;
            }
        }
    }
}

.right-column {
    padding: 0 1em;
}

.evaluation-view, .grading-view {
    .unit-edit {
        width: 5em;
    }

    .explanation {
        width: 100%;
        height: 8em;
    }

    .question, .answer {
        margin-left: 1em;
    }
}

.evaluation-view {
    .score {
        text-align: center;
        margin: 1ex;
    }

    table.scores {
        margin-left: auto;
        margin-right: auto;

        th {
            padding: 0 1em 0 0;
            border: 0;
            text-align: left;
        }
    }
}

.grading-view .status {
    text-align: center;
    font-size: smaller;
}


.file-list {
    table {
        a {
            text-decoration: none;
            font: $tt-bd;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.list-eval-item {
    margin: 1em 0.25em;
    padding: 5px 10px;
    border-radius: $radius 0 $radius 0;
}

.list-eval-item.has-been-docked {
    background-color: $docked-color;
}

.list-eval-item.has-explanation {
    background-color: $explanation-color;
}

.held-back {
    padding: 1em;
}

.held-back table td {
    padding-left: 1em;
}

.question ul li {
    margin-left: 1em;
}

.question table {
    margin: 1em auto;
}

.question th {
    border: none;
}

.question td {
    text-align: center;
}

.date-list {
    margin: 1em auto;
    font-size: small;
}

.date-list td {
    padding: 0 3px;
}

.file-uploader {
    position: relative;
    display: block;
    width: 100px;
    margin: 10px auto;
}

.file-uploader input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.backup-file-uploader {
    margin: 0 auto 1em auto;
    width: 60%;
}

.backup-file-uploader input {
    display: block;
    margin: 0 auto 0 0;
}

.backup-file-uploader button {
    display: block;
    margin: 0 0 0 auto;
}

.progress-holder > * {
    visibility: visible;
    position: fixed;
    top: 40%;
    left: 25%;
    right: 25%;
    width: 50%;
}

.highscores table {
    width: 60ex;
    margin-top: 20px;
    margin-bottom: 20px;

    border-style: solid;
    border-color: #555;
    border-width: 2px;
    color: #333;
}

.highscores td, th {
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    padding: 3px;
}

.highscores th {
    font-variant: small-caps;
}

.highscores tr#self {
    font-style: italic;
    font-weight: bold;
    font-variant: normal;
}

.fineprint {
    font-size: smaller;
}

.score {
    font-size: large;
}

.wordcontainer {
    border-style: solid;
    font-family: monospace;
    font-size: xx-large;
}

.hangman-widget select {
    margin-top: 10px;
}

.buttons, .buttons-inline, .dialog-buttons {
    button, input {
        margin: 0 5px;
    }
}

.buttons {
    margin: 1em 0;
    text-align: center;
}

.dialog-buttons {
    margin: 1em 0;
    text-align: right;
}

.gsc-auth-logged-in, .gsc-auth-not-logged-in {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 125%;
    z-index: 1000;
    background-color: white;
}

tr.student-highlight {
    background-color: #ffff00;
}

tr.grader-highlight {
    background-color: #ffccff;
}

.home-link {
    cursor: pointer;
}

.line-link {
    text-decoration: underline;
    color: darkred;
    cursor: pointer;
}

.submission-grade {
    text-align: center;
    font-size: 200%;
}

.partner-notification {
    border: 1px solid;
    border-top-left-radius: $radius;
    margin-bottom: 1em;
    padding: 0.5em;

    .buttons {
        margin: 0.5em 0;
    }
}

.partner-confirmer {
    border-color: darkred;
    background-color: #fcc;
}

.partner-pending {
    border-color: darkorange;
    background-color: #ffc;
}

.partner-requestor {
    border-color: darkgreen;
    background-color: #cfc;
}

.quota-display {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

#api-key-input {
    text-overflow: ellipsis;
    width: 10ex;
    cursor: grab;
}

.username, .input-monospace {
    font: $tt-h4;
}

.date-edit,
.time-edit {
    display: inline;
    padding: 0 6px;
    font: $tt-sm;
    text-overflow: ellipsis;
}

input.username,
.points-edit {
    display: inline;
    padding: 0 4px;
    font: $tt-ls;
}

.points-edit {
    text-align: center;
    width: 3em;
}

input.username {
    min-width: 10em;
}

.date-edit {
    border-right-style: hidden;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.time-edit {
    border-left-style: hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.assignments-view {
    .date-edit {
        width: 115px;
    }

    .time-edit {
        max-width: 95px;
    }
}

.submissions-view {
    .date-edit {
        width: 9.5em;
    }

    .time-edit {
        width: 7em;
    }
}

.user-selector {
    display: inline;
}

$hlog-gap: 6px;
$hlog-skip: 10px;
$hlog-indent: 72px;

.html-file-viewer .html-file-contents {
    font: $sf-sm;

    div.test-case {
        margin: 12px 6px;
        padding: 0;
        border: 2px solid #aaa;
        border-radius: 2px;
        background-color: #eee;
    }

    h3 {
        margin: 0;
        padding: 6px 4px;
        color: white;
        background-color: #555;
    }

    div.test-case-body {
        h4, p {
            margin: $hlog-skip $hlog-indent $hlog-gap $hlog-gap;
            padding: 0;
        }

        h4.test-result {
            margin: 0 0 $hlog-skip $hlog-indent;
        }

        code.io_lines, code.grep_output {
            margin: $hlog-gap;
            padding: $hlog-gap;
            max-width: 100%;
        }
    }

    .passed strong {
        color: #090;
    }

    .failed strong {
        color: #C00;
    }

    table.points-summary {
        margin: 1em auto;
        min-width: 60%;

        border-radius: $radius 0;
        color: #555;
        background-color: $highlight-bg;

        thead th {
            font-weight: 300;
            font-size: 200%;
            width: auto;
        }

        th {
            font-weight: 300;
            font-size: 150%;
            margin: 0;
            color: white;
            background-color: #555;
        }

        td {
            padding: 0.25ex 1em;
        }
    }
}

code.grep_output, code.io_lines {
    display: block;
    padding: 4px;
    border: 1px solid #aaa;
    border-radius: 2px;
    overflow-x: scroll;
}

code.grep_output {
    color: #333;
    background-color: #FFD;
    white-space: pre;

    strong {
        font-weight: normal;
        color: #C00;
    }

    small {
        font-size: 70%;
        opacity: 60%;
    }
}

code.io_lines {
    color: white;
    background-color: #345;

    div {
        white-space: pre;
    }

    .stdin, .stdout, .stderr, .stdlog {
        position: relative;
    }

    .stdin {
        color: #ADA;
    }

    .stdout {
        color: #9CF;
    }

    .stderr {
        color: #DAA;
    }

    .stdlog {
        color: #DD9;
    }

    .stdin:before,
    .stdout:before,
    .stderr:before,
    .stdlog:before
    {
        display: none;
    }

    .stdin:hover:before,
    .stdout:hover:before,
    .stderr:hover:before,
    .stdlog:hover:before
    {
        display: inline;
        top: 0;
        right: 0;
        position: absolute;
        padding: 0 8px 0 0;
        vertical-align: middle;
        color: white;
    }

    .stdin:before {
        content: "<&0";
    }

    .stdout:before {
        content: ">&1";
    }

    .stderr:before {
        content: ">&2";
    }

    .stdlog:before {
        content: ">&3";
    }
}
