@import url("https://use.typekit.net/djw0bln.css");

///
/// Fonts
///

$hd-fam: "neue-haas-grotesk-display", sans-serif;
$sf-fam: "neue-haas-grotesk-text", sans-serif;
$tt-fam: "input-mono-narrow", monospace;
$tt-fam-condensed: "input-mono-condensed", monospace;

$body-size:  16px;

@mixin body-text {
    font: $body-size $sf-fam;
}

@mixin small-text {
    font: 13px $sf-fam;
}

@mixin tiny-text {
    font: 11px/11px $sf-fam;
}

@mixin inline-code {
    font: 95% $tt-fam;
}

@mixin small-code {
    font: 14px $tt-fam-condensed;
}

@mixin listing-code {
    font: 14px/15px $tt-fam;
}

@mixin h1-text {
    font: 300 40px $hd-fam;
}

@mixin h2-text {
    font: 200 40px $hd-fam;
    letter-spacing: 1px;
}

@mixin h3-text {
    font: 300 28px $hd-fam;
}

@mixin h4-text {
    font: 300 22px $hd-fam;
}

@mixin h5-text {
    font: 500 $body-size $hd-fam;
}

@mixin h6-text {
    font: 500 $body-size $hd-fam;
    text-decoration: underline;
}

///
/// Colors
///

@function alpha($base, $alpha) {
    @return adjust-color($base, $alpha: $alpha);
}

@function lighten($base, $value: 50%) {
    @return adjust-color($base, $lightness: $value);
}

@function saturate($base, $value: 50%) {
    @return adjust-color($base, $saturation: $value);
}

$nu-purple: #3B2F77;
$purple-gray: saturate(lighten($nu-purple, 30%), -25%);
$purple-tint: lighten($nu-purple, 58%);
$dark-gray: #555;
$medium-gray: #999;

$primary-highlight: #FF0;
$secondary-highlight: #FCF;
$docked-highlight: #FCD;
$explanation-highlight: #CDF;

@mixin grep-color {
    color:            #333;
    background-color: #FFD;
    strong {
        color: #C00;
        font-weight: inherit;
    }
}

///
/// Sizes
///

$radius: 15px;
$file-viewer-width: 750px;
$code-number-width: 40px;
$file-viewer-gutter: 10px;
$file-viewer-select-height: 40px;

$code-line-vskip: 4px;
$code-line-hpad: 6px;
$code-number-hpad: 3px;
$fudge-pixels: 4px;

$code-line-padding: 0 $code-line-hpad $code-line-vskip $code-line-hpad;
$code-number-padding: 0 $code-number-hpad $code-line-vskip $code-number-hpad;

$file-viewer-border-width: 1px;
$file-viewer-border-radius: $radius / 3;
$single-file-loss: 2 * ($file-viewer-gutter + $file-viewer-border-width);
$single-file-width: $file-viewer-width - $single-file-loss;


///
/// Styles
///

@mixin round-table($top-left: $radius, $bottom-left: $radius) {
    thead, tbody:nth-child(2) {
        tr:first-child th:first-child {
            border-top-left-radius: $top-left;
        }
    }

    tbody:nth-child(2) {
        tr:last-child th:first-child {
            border-bottom-left-radius: $bottom-left;
        }
    }
}

@mixin fancify($special-bg:    $nu-purple,
               $special-fg:    white,
               $anchor-hover:  lightyellow,
               $highlight-bg:  $purple-tint) {

    @include round-table;
    margin:          1em auto;
    border-collapse: collapse;

    thead th {
        text-align: center;
    }

    th, td {
        vertical-align: middle;
        border: 0;
    }

    td {
        padding: 3px 6px;
        @include small-text;
    }

    td.numeric {
        font-family: $tt-fam;
        text-align: right;
    }

    th {
        @include     h3-text;
        padding:     5px 10px;
        color:       $special-fg;
        background:  $special-bg;

        a {
            color:           $special-fg;
            text-decoration: none;
        }

        a:hover {
            color:           $anchor-hover;
            text-decoration: underline;
        }
    }

    input {
        margin: 0;
    }

    td > input, td > button {
        display: block;
        margin: 0 auto;
    }
}


///
/// Selectors
///

body {
    @include body-text;
}

h1 {
    @include h1-text;
    margin: 0 1ex;
    padding: 0;

    small {
        @include h2-text;
    }

    .home-link {
        cursor: pointer;
        color: $purple-gray;
    }

    .header-nav-link {
        cursor: pointer;
        color: $medium-gray;
    }

    .home-link:hover,
    .header-nav-link:hover {
        color: $nu-purple;
    }

    .header-nav-current {
        color: black;
    }
}

h2 {
    @include h2-text;
}

h3 {
    @include h3-text;
}

h4 {
    @include h4-text;
}

h5 {
    @include h5-text;
}

h6 {
    @include h6-text;
}

code {
    @include inline-code;
    color:         inherit;
    background-color: inherit;
    border: 0;
    margin: 0;
    padding: 0;
}

var {
    @include inline-code;
    font-style: italic;
}

table .invalid {
    border: 3px dotted red;
}

table.plain {
    margin: 1em 2em;
    border: solid #666;
    border-width: 3px 0;

    thead {
        border-bottom: 2px solid #999;
    }

    tbody tr {
        border-top: 1px solid #ccc;
    }

    tbody tr:first-child {
        border-top: none;
    }

    th, td {
        vertical-align: top;
        padding: 2px 4px;
        border: 0;
    }

    th {
        text-align: center;
    }

    td {
        text-align: left;
    }
}

// deprecate this; require .fancy
.admin-view,
.assignments-view,
.file-list,
.file-viewer,
.grading-stats-view,
.profile-view,
.submissions-view {
    table {
        @include fancify;
    }
}

table.fancy {
    @include fancify;
}

.admin-view table {
    td {
        select, input {
            display: inline;
            margin-right: 10px;
            width: 120px;
        }
    }
}

.submissions-view {
    table {
        .past, .future {
            color: lightgray;
        }

        .past input {
            background-color: lightgray;
        }

        .open, .self-eval {
            background-color: lightyellow;
        }

        button {
            display: block;
            margin: 0 auto;
        }

        input {
            width: 100px;
            margin: 0;
        }
    }

    .extended input {
        color: darkred;
    }

    .partner-notification {
        margin: 1em;
        text-align: center;
    }
}

.assignments-view {
    table {
        margin: 1em auto;
        vertical-align: middle;

        input {
            margin: 0;
        }
    }

    .name-edit {
        width: 10em;
    }
}

.edit-assignment-view {
    padding: 1em;
}

.submission-owner-widget {
    width: 240px;
    text-align: center;
    margin: 0 auto 1em auto;
}

.edit-eval-item {
    margin: 0 auto;
    width: 800px;
}

@mixin mono-edit {
    @include small-code;
    display: inline;
    padding: 0 6px;
    text-overflow: ellipsis;
}

.edit-eval-item-table {
    width: 100%;
    table-layout: fixed;

    > tbody > tr > {
        * {
            border: none;
            vertical-align: top;
            padding: 0.5ex 1ex;
        }

        th {
            width: 10%;
            text-align: right;
        }

        td {
            width: 90%;
            text-align: left;
        }
    }

    .prompt-edit {
        @include mono-edit;
        height: 20em;
    }

    .relative-value-edit {
        @include mono-edit;
        text-align: right;
        width: 10em;
    }
}

.right-column {
    position: fixed;
    top: 0;
    right: 15px;
    bottom: 0;
    left: $file-viewer-width + 30px;
    padding: 80px 0 0 0;
    overflow-y: auto;
}

.file-viewer {
    position: fixed;
    top: 80px;
    bottom: 15px;
    left: 15px;
    width: $file-viewer-width;
    padding: 0;

    select {
        margin: 0;
        height: $file-viewer-select-height;
        @include body-text;
        font-size: 0.5 * $file-viewer-select-height;
    }

    .file-viewer-area {
        position: absolute;
        padding: 0;
        top: $file-viewer-select-height;
        bottom: 0;
        border: $file-viewer-border-width solid lightgray;
        border-radius: $file-viewer-border-radius;
        background-color: $purple-tint;
        overflow-y: auto;
    }

    .single-file-viewer {
        width: $single-file-width;
        margin: $file-viewer-gutter;
        background-color: white;
        border-radius: $radius 0;
        overflow-x: hidden;

        .html-file-contents {
            width: $single-file-width;
        }

        table {
            margin: 0;
        }

        th {
            margin: 0;
            vertical-align: middle;
        }

        thead th {
            @include inline-code;
            padding: 6px 0;
        }
    }

    .line-single-file-viewer {
        > table {
            width: $single-file-width;
        }

        th.code-number {
            width: $code-number-width;
            padding: $code-number-padding;
            vertical-align: baseline;
            text-align: center;
            @include tiny-text;
            color: white;
            overflow-x: visible;
        }

        td.code-line {
            @include listing-code;
            padding: $code-line-padding;

            span {
                vertical-align: baseline;
                display: block;
                max-width: 80ch;
                // XXX?:
                // width: 80ch;
                white-space: pre-wrap;
                word-break: break-all;
                color: #A00;
            }

            span:first-line {
                color: black;
            }
        }

        tr.student-highlight, tr.grader-highlight {
            color: black;
            border: 1px dotted;

            th.code-number {
                color: inherit;
                background-color: inherit;
            }
        }

        tr.student-highlight {
            background-color: $primary-highlight;
            border-color: $primary-highlight;
        }

        tr.grader-highlight {
            background-color: $secondary-highlight;
            border-color: $secondary-highlight;
        }
    }
}

.evaluation-view, .grading-view {
    .unit-edit {
        width: 5em;
    }

    .explanation {
        width: 100%;
        height: 8em;
    }

    .question, .answer {
        margin-left: 1em;
    }
}

.evaluation-view {
    .score {
        text-align: center;
        margin: 1ex;
    }

    table.scores {
        margin-left: auto;
        margin-right: auto;

        th {
            padding: 0 1em 0 0;
            border: 0;
            text-align: left;
        }
    }
}

.grading-view .status {
    text-align: center;
    font-size: smaller;
}


.file-list tbody th {
    font-size: inherit;

    a {
        @include inline-code;
    }
}

.list-eval-item {
    margin: 1em 0.25em;
    padding: 5px 10px;
    border-radius: $radius 0 $radius 0;

    .detail {
        display: none;
    }
}

.list-eval-item.has-been-docked {
    background-color: $docked-highlight;
}

.list-eval-item.has-explanation {
    background-color: $explanation-highlight;
}

.held-back {
    padding: 1em;
}

.held-back table td {
    padding-left: 1em;
}

.question ul li {
    margin-left: 1em;
}

.question table {
    margin: 1em auto;
}

.question th {
    border: none;
}

.question td {
    text-align: center;
}

.date-list {
    margin: 1em auto;
    font-size: small;
}

.date-list td {
    padding: 0 3px;
}

.file-uploader {
    position: relative;
    display: block;
    width: 100px;
    margin: 10px auto;
}

.file-uploader input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.backup-file-uploader {
    margin: 0 auto 1em auto;
    width: 60%;
}

.backup-file-uploader input {
    display: block;
    margin: 0 auto 0 0;
}

.backup-file-uploader button {
    display: block;
    margin: 0 0 0 auto;
}

.progress-holder > * {
    visibility: visible;
    position: fixed;
    top: 40%;
    left: 25%;
    right: 25%;
    width: 50%;
}

.highscores table {
    width: 60ex;
    margin-top: 20px;
    margin-bottom: 20px;

    border-style: solid;
    border-color: $dark-gray;
    border-width: 2px;
    color: $dark-gray;
}

.highscores td, th {
    border-style: solid;
    border-width: 1px;
    border-color: $medium-gray;
    padding: 3px;
}

.highscores th {
    font-variant: small-caps;
}

.highscores tr#self {
    font-style: italic;
    font-weight: bold;
    font-variant: normal;
}

.fineprint {
    font-size: smaller;
}

.score {
    font-size: large;
}

.wordcontainer {
    border-style: solid;
    font-family: monospace;
    font-size: xx-large;
}

.hangman-widget select {
    margin-top: 10px;
}

.buttons, .buttons-inline, .dialog-buttons {
    button, input {
        margin: 0 5px;
    }
}

.buttons {
    margin: 1em 0;
    text-align: center;
}

.dialog-buttons {
    margin: 1em 0;
    text-align: right;
}

.gsc-auth-logged-in, .gsc-auth-not-logged-in {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 125%;
    z-index: 1000;
    background-color: white;
}

.line-link {
    color: darkred;
    cursor: pointer;
    text-decoration: underline;
}

.broken-line-link {
    color: darkred;
    cursor: not-allowed;
    text-decoration: wavy black line-through;
}

.submission-grade {
    text-align: center;
    font-size: 200%;
}

.partner-notification {
    border: 1px solid;
    border-top-left-radius: $radius;
    margin-bottom: 1em;
    padding: 0.5em;

    .buttons {
        margin: 0.5em 0;
    }
}

.partner-confirmer {
    border-color: darkred;
    background-color: #FCC;
}

.partner-pending {
    border-color: darkorange;
    background-color: #FFC;
}

.partner-requestor {
    border-color: darkgreen;
    background-color: #CFC;
}

.quota-display {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

#api-key-input {
    text-overflow: ellipsis;
    width: 10ex;
    cursor: grab;
}

.username, .input-monospace {
    @include inline-code;
}

input.username,
.points-edit,
.date-edit,
.time-edit {
    @include mono-edit;
}

.points-edit {
    text-align: center;
    width: 3em;
}

input.username {
    min-width: 10em;
}

.date-edit {
    border-right-style: hidden;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.time-edit {
    border-left-style: hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.assignments-view {
    .date-edit {
        width: 115px;
    }

    .time-edit {
        max-width: 95px;
    }
}

.submissions-view {
    .date-edit {
        width: 9.5em;
    }

    .time-edit {
        width: 7em;
    }
}

.user-selector {
    display: inline;
}

$hlog-gap: 6px;
$hlog-skip: 10px;
$hlog-indent: 72px;

.html-single-file-viewer .html-file-contents {
    @include small-text;

    .test-case {
        margin: 12px 6px;
        padding: 0;
        border: 2px solid #AAA;
        border-radius: 2px;
        background-color: #EEE;
    }

    summary {
        display: list-item;
        @include body-text;
        margin: 0;
        padding: 6px;
        color: white;
        background-color: $dark-gray;

        h3 {
            display: inline;
            font: inherit;
            margin: 0;
            padding: 0;
        }
    }

    .test-case-body {
        h4, p {
            margin: $hlog-skip $hlog-indent $hlog-gap $hlog-gap;
            padding: 0;
        }

        h4.test-result {
            margin: 0 0 $hlog-skip $hlog-indent;
        }

        h4.error {
            font-weight: 800;
            color: #933;
        }

        .passed strong {
            color: #090;
        }

        .failed strong {
            color: #C00;
        }

        .exit-success, .exit-error {
            font-style: normal;
        }

        .exit-success {
            color: #090;
        }

        .exit-error {
            color: #900;
        }
    }

    table.points-summary {
        margin: 1em auto;
        min-width: 60%;

        border-radius: $radius 0;
        color: $dark-gray;
        background-color: $purple-tint;

        thead th {
            font-weight: 300;
            font-size: 200%;
            width: auto;
        }

        th {
            font-weight: 300;
            font-size: 150%;
            margin: 0;
            color: white;
            background-color: $dark-gray;
        }

        td {
            padding: 0.25ex 1em;
        }
    }
}

code.grep-output,
code.io-lines {
    @include listing-code;
    display: block;
    margin: $hlog-gap;
    padding: $hlog-gap;
    border: 1px solid #AAA;
    border-radius: 2px;
    //max-width:     calc(100% - 2 * #{$hlog-gap});
}

code.grep-output {
    @include grep-color;
    white-space: pre-wrap;
    overflow-wrap: break-word;

    small {
        opacity: 50%;
    }
}

code.io-lines {
    $io-bg-color: #345;
    $io-bg-step: 2px;

    ::selection {
        color: white !important;
        background-color: $nu-purple !important;
    }

    @mixin term-io-line($sel, $color, $redir) {
        #{$sel} {
            position: relative;
            display: block;
            width: 80ch;
            white-space: pre-wrap;
            overflow-wrap: break-word;
            word-break: break-word;
            color: adjust-color($color, $saturation: -20%, $lightness: -20%);
        }

        #{$sel}:not(:last-child) {
            margin-bottom: $code-line-vskip;
        }

        #{$sel}:first-line {
            color: $color;
        }

        #{$sel}:hover:after {
            content: $redir;
            display: inline;
            position: absolute;
            right: 0;
            bottom: 0;
            padding: $io-bg-step;
            border: $io-bg-step solid alpha($io-bg-color, -0.5);
            margin-bottom: -2 * $io-bg-step;
            color: white !important;
            background-color: alpha($io-bg-color, -0.25);
            vertical-align: baseline;
        }
    }

    @mixin hover-highlight($sel, $description, $extra-hspace: 0) {
        #{$sel} {
            position: relative;
            border: 1px dotted pink;
            color: white;
            margin: 0 $extra-hspace;
            padding: 0 $extra-hspace;
            white-space: pre;
        }

        #{$sel}:hover:after {
            content: '# ' $description;
            position: absolute;
            bottom: 1.5em;
            left: 1.5em;
            color: white;
            background: darkred;
            z-index: 100;
        }
    }

    color: white;
    background-color: $io-bg-color;

    @include term-io-line('.stdin', #ADA, '<&0');
    @include term-io-line('.stdout', #9CF, '>&1');
    @include term-io-line('.stderr', #DAA, '>&2');
    @include term-io-line('.stdlog', #DD9, '>&3');

    @include hover-highlight('.control-char', 'control character');
    @include hover-highlight('.invalid-byte', 'non-UTF-8 byte');
    @include hover-highlight('.no-newline', 'no final newline',
                             $extra-hspace: 1px);
    @include hover-highlight('.trailing-ws', 'trailing whitespace');
}

span.txt-only {
    display: none;
}

.supertitle {
    font: 700 .9em $hd-fam;
    color: $dark-gray;
    margin-bottom: 0;
}

.supertitle + * {
    margin-top: 0;
}

