$tt4: 20px "Menlo",monospace;
$tt: 12px/14px "Menlo",monospace;

$sf1: 200 50px "Helvetica Neue",sans-serif;
$sf2: 200 40px "Helvetica Neue",sans-serif;
$sf3: 400 30px "Helvetica Neue",sans-serif;
$sf4: 500 20px "Helvetica Neue",sans-serif;
$sf:  400 20px "Helvetica Neue",sans-serif;

body {
    font: $sf;
}

h1 {
    font: $sf1;
    margin: 0 1ex;
    padding: 0;

    small {
      font: $sf2;
    }
}

h2 {
    font: $sf2;
}

table .invalid {
    border: 3px dotted red;
}

.admin-view,
.profile-view {
    th, td {
        text-align: left;
    }
}

.assignments-view,
.file-list,
.grading-stats-view,
.submissions-view {
    th, td {
        text-align: center;
    }
}

.admin-view,
.assignments-view,
.file-list,
.grading-stats-view,
.profile-view,
.submissions-view {
    table {
        margin: 1em auto;
        border-collapse: separate;
        border-spacing: 4px;

        th, td {
            vertical-align: middle;
        }

        th {
            padding: 0 2px;
            font: $sf4;
            color: white;
            background: #660066;
            border: 1px solid #990099;
        }

        td {
            padding: 0 4px;
            font: $sf;
            border: 0;
        }

        input {
            margin: 0;
        }
    }
}

.admin-view table {
    td {
        select, input {
            display: inline;
            margin-right: 10px;
            width: 120px;
        }
    }
}

.submissions-view {
    table {
        .past, .future {
            color: lightgray;
        }

        .past input {
            background-color: lightgray;
        }

        .open, .self-eval {
            background-color: lightyellow;
        }

        button {
            display: block;
            margin: 0 auto;
        }

        input {
            width: 100px;
            margin: 0;
        }
    }

    .extended input {
        color: red;
    }

    .partner-notification {
        margin: 1em;
        text-align: center;
    }
}

.assignments-view {
    table {
        margin: 1em auto;
        vertical-align: middle;

        input {
            margin: 0;
        }
    }

    .points {
        width: 1.5em;
    }

    .name {
        width: 10em;
    }
}

.edit-assignment-view {
    padding: 1em;
}

.submission-owner-widget {
    width: 240px;
    text-align: center;
    margin: 0 auto 1em auto;
}

input.username {
    width: 60px;
}

.edit-eval-item {
    .prompt {
        width: 600px;
        height: 3em;
    }

    .relative-value {
        width: 30px;
    }
}

.file-viewer {
    position: relative;
    font-size: 90%;
    padding: 5px;
    border: 1px solid lightgrey;
    width: 630px;
    height: 470px;
    line-height: 105%;

    h4 {
        margin: 0;
        padding: 0;
    }
}

.right-column {
    padding: 0 1em;
}

.evaluation-view, .grading-view {
    .unit-edit {
        width: 5em;
    }

    .explanation {
        width: 100%;
        height: 8em;
    }

    .question, .answer {
        margin-left: 1em;
    }
}

.evaluation-view {
    .score {
        text-align: center;
        margin: 1ex;
    }

    table.scores {
        margin-left: auto;
        margin-right: auto;

        th {
            padding: 0 1em 0 0;
            border: 0;
            text-align: left;
        }
    }
}

.grading-view .status {
    text-align: center;
    font-size: smaller;
}


.file-list {
    table {
        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        button {
            padding: 0 3px !important;
        }
    }
}

.list-eval-item {
    margin: 1em 0.25em;
    padding: 0 0.5em;
    border-radius: 5px;
}

.list-eval-item.has-been-docked {
    margin: 1em 0.25em;
    background-color: #ffcccc;
    border: 1px solid #990000;
}

.list-eval-item.has-explanation {
    margin: 1em 0.25em;
    background-color: #ccffcc;
    border: 1px solid #009900;
}

.held-back {
    padding: 1em;
}

.held-back table td {
    padding-left: 1em;
}

.question ul li {
    margin-left: 1em;
}

.question table {
    margin: 1em auto;
}

.question th {
    border: none;
}

.question td {
    text-align: center;
}

.code-line {
    font: $tt;
    white-space: pre;
}

.code-number {
    font-size: 85%;
    color: grey;
    padding-right: 10px;
    text-align: center;
}

.date-list {
    margin: 1em auto;
    font-size: small;
}

.date-list td {
    padding: 0 3px;
}

.file-uploader {
    position: relative;
    display: block;
    width: 100px;
    margin: 10px auto;
}

.file-uploader input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.backup-file-uploader {
    margin: 0 auto 1em auto;
    width: 60%;
}

.backup-file-uploader input {
    display: block;
    margin: 0 auto 0 0;
}

.backup-file-uploader button {
    display: block;
    margin: 0 0 0 auto;
}

.progress-holder > * {
    visibility: visible;
    position: fixed;
    top: 40%;
    left: 25%;
    right: 25%;
    width: 50%;
}

.file-list-type {
    text-align: center;
}

.file-list-bytes {
    text-align: right;
}

.highscores table {
    width: 60ex;
    margin-top: 20px;
    margin-bottom: 20px;

    border-style: solid;
    border-color: #555;
    border-width: 2px;
    color: #333;
}

.highscores td, th {
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    padding: 3px;
}

.highscores th {
    font-variant: small-caps;
}

.highscores tr#self {
    font-style: italic;
    font-weight: bold;
    font-variant: normal;
}

.fineprint {
    font-size: smaller;
}

.score {
    font-size: large;
}

.wordcontainer {
    border-style: solid;
    font-family: monospace;
    font-size: xx-large;
}

.hangman-widget select {
    margin-top: 10px;
}

.buttons, .buttons-inline, .dialog-buttons {
    button, input {
        margin: 0 5px;
    }
}

.buttons {
    margin: 1em 0;
    text-align: center;
}

.dialog-buttons {
    margin: 1em 0;
    text-align: right;
}

.gsc-auth-logged-in, .gsc-auth-not-logged-in {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 125%;
    z-index: 1000;
    background-color: white;
}

tr.student-highlight {
    background-color: #ffff00;
}

tr.grader-highlight {
    background-color: #ffccff;
}

.home-link {
    cursor: pointer;
}

.line-link {
    text-decoration: underline;
    color: darkred;
    cursor: pointer;
}

.submission-grade {
    text-align: center;
    font-size: 200%;
}

.partner-notification {
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 0.5em;

    .buttons {
        margin: 0.5em 0;
    }
}

.partner-confirmer {
    border-color: darkred;
    background-color: #fcc;
}

.partner-pending {
    border-color: darkorange;
    background-color: #ffc;
}

.partner-requestor {
    border-color: darkgreen;
    background-color: #cfc;
}

.quota-display {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

#api-key-input {
    text-overflow: ellipsis;
    width: 10ex;
    cursor: grab;
}

.username, .input-monospace {
    font: $tt4;
}

.date-edit, .time-edit, input.username {
    display: inline;
    padding: 0 6px;
    font: $tt;
}

.date-edit, .time-edit {
    font-size: 10pt;
    text-overflow: ellipsis;
}

input.username {
    min-width: 10em;
}

.date-edit {
    border-right-style: hidden;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.time-edit {
    border-left-style: hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.assignments-view {
    .date-edit {
        width: 115px;
    }

    .time-edit {
        max-width: 95px;
    }
}

.submissions-view {
    .date-edit {
        width: 9.5em;
    }

    .time-edit {
        width: 7em;
    }
}
