$tt-fam:                   "Menlo", monospace;
$sf-fam:                   "Helvetica Neue", sans-serif;

$sf-h1:                    200 50px $sf-fam;
$sf-h2:                    200 40px $sf-fam;
$sf-h3:                    300 28px $sf-fam;

$sf-h4:                    500 20px $sf-fam;
$tt-h4:                    20px $tt-fam;

$sf-bd:                    400 20px $sf-fam;
$tt-bd:                    16px $tt-fam;

$sf-sm:                    400 16px $sf-fam;
$tt-sm:                    13px $tt-fam;

$sf-ls:                    400 11px/11px $sf-fam;
$tt-ls:                    13px/14px $tt-fam;

$nu-purple:                #3B2F77;

$deep-grey:                #333;
$dark-grey:                #555;
$medium-grey:              #999;

$primary-highlight:        #FF0;
$secondary-highlight:      #FCF;
$docked-highlight:         #FCD;
$explanation-highlight:    #CDF;

$radius:                   15px;
$inverse-bg:               $nu-purple;
$inverse-fg:               white;
$highlight-bg:             adjust-color($nu-purple, $lightness: 58%);

$file-viewer-width:        750px;
$code-number-width:        40px;
$file-viewer-gutter:       10px;

$code-line-vskip:          4px;
$code-line-hpad:           6px;
$code-number-hpad:         3px;
$fudge-pixels:             4px;

$code-line-padding:        0 $code-line-hpad $code-line-vskip $code-line-hpad;
$code-number-padding:      0 $code-number-hpad $code-line-vskip $code-number-hpad;

$file-viewer-border-width: 2px;
$single-file-loss:         2 * ($file-viewer-gutter + $file-viewer-border-width);
$single-file-width:        $file-viewer-width - $single-file-loss;

body {
    font: $sf-bd;
}

h1 {
    font:    $sf-h1;
    margin:  0 1ex;
    padding: 0;

    small {
        font: $sf-h2;
    }

    .home-link, .header-nav-link {
        cursor: pointer;
        color:  $medium-grey;
    }

    .home-link:hover,
    .header-nav-link:hover {
        color: $nu-purple;
    }

    .header-nav-current {
        color: black;
    }
}

h2 {
    font: $sf-h2;
}

code {
    font-family:      $tt-fam;
    font-size:        90%;
    color:            inherit;
    background-color: inherit;
    border:           0;
    margin:           0;
    padding:          0;
}

var {
    font-family: $tt-fam;
    font-style:  italic;
    font-size:   90%;
}

table .invalid {
    border: 3px dotted red;
}

.admin-view,
.assignments-view,
.file-list,
.file-viewer,
.grading-stats-view,
.profile-view,
.submissions-view {
    table, // deprecate this; require .fancy
    table.fancy {
        margin:          1em auto;
        border-collapse: collapse;

        thead th {
            text-align: center;
        }

        thead,
        tbody:nth-child(2) {
            tr:first-child th:first-child {
                border-top-left-radius: $radius;
            }
        }

        tbody:nth-child(2) {
            tr:last-child th:first-child {
                border-bottom-left-radius: $radius;
            }
        }

        th, td {
            vertical-align: middle;
            border:         0;
        }

        th {
            padding:    5px 10px;
            font:       $sf-h3;
            color:      $inverse-fg;
            background: $inverse-bg;

            a {
                color: white;
            }

            a:hover {
                color: lightyellow;;
            }
        }

        td {
            padding: 3px 6px;
            font:    $sf-sm;
        }

        td.numeric {
            text-align:  right;
            font-family: $tt-fam;
        }

        td > input, td > button {
            display: block;
            margin:  0 auto;
        }

        input {
            margin: 0;
        }
    }
}

.admin-view table {
    td {
        select, input {
            display:      inline;
            margin-right: 10px;
            width:        120px;
        }
    }
}

.submissions-view {
    table {
        .past, .future {
            color: lightgray;
        }

        .past input {
            background-color: lightgray;
        }

        .open, .self-eval {
            background-color: lightyellow;
        }

        button {
            display: block;
            margin:  0 auto;
        }

        input {
            width:  100px;
            margin: 0;
        }
    }

    .extended input {
        color: darkred;
    }

    .partner-notification {
        margin:     1em;
        text-align: center;
    }
}

.assignments-view {
    table {
        margin:         1em auto;
        vertical-align: middle;

        input {
            margin: 0;
        }
    }

    .name-edit {
        width: 10em;
    }
}

.edit-assignment-view {
    padding: 1em;
}

.submission-owner-widget {
    width:      240px;
    text-align: center;
    margin:     0 auto 1em auto;
}

.edit-eval-item {
    .prompt {
        width:  600px;
        height: 6em;
    }

    .relative-value {
        width: 30px;
    }
}

.right-column {
    position:   fixed;
    top:        0;
    right:      15px;
    bottom:     0;
    left:       $file-viewer-width + 30px;
    padding:    80px 0 0 0;
    overflow-y: auto;
}

.file-viewer {
    position:         fixed;
    top:              80px;
    bottom:           15px;
    left:             15px;
    width:            $file-viewer-width;

    border:           $file-viewer-border-width outset $highlight-bg;
    background-color: $highlight-bg;
    padding:          0;

    select {
        position:         absolute;
        font:             $sf-h4;
        height:           40px;
        margin:           0;
        border:           0;
        border-radius:    0;
        background-color: transparent;
    }

    .file-viewer-area {
        position:   absolute;
        padding:    0;
        top:        40px;
        bottom:     0;
        left:       $file-viewer-gutter;
        right:      $file-viewer-gutter;
        overflow-y: auto;

        .single-file-viewer {
            width:            $single-file-width;
            margin:           $file-viewer-gutter auto;
            background-color: white;
            border-radius:    $radius 0;

            .html-file-contents {
                width: $single-file-width;
            }

            table {
                margin: 0;
            }

            th {
                margin:         0;
                vertical-align: middle;
            }

            thead th {
                padding: 6px 0;
                font:    $tt-h4;
            }
        }

        .line-single-file-viewer {
            > table {
                width: $single-file-width;
            }

            th.code-number {
                width:          $code-number-width;
                padding:        $code-number-padding;
                vertical-align: baseline;
                text-align:     center;
                font:           $sf-ls;
                color:          white;
                overflow-x:     visible;
            }

            td.code-line {
                font:    $tt-ls;
                padding: $code-line-padding;

                span {
                    vertical-align: baseline;
                    display:        block;
                    max-width:      80ch;
                    white-space:    pre-wrap;
                    word-break:     break-all;
                    color:          #A00;
                }

                span:first-line {
                    color: black;
                }
            }

            tr.student-highlight, tr.grader-highlight {
                color:  black;
                border: 1px dotted;

                th.code-number {
                    color:            inherit;
                    background-color: inherit;
                }
            }

            tr.student-highlight {
                background-color: $primary-highlight;
                border-color:     $primary-highlight;
            }

            tr.grader-highlight {
                background-color: $secondary-highlight;
                border-color:     $secondary-highlight;
            }
        }
    }
}

.evaluation-view, .grading-view {
    .unit-edit {
        width: 5em;
    }

    .explanation {
        width:  100%;
        height: 8em;
    }

    .question, .answer {
        margin-left: 1em;
    }
}

.evaluation-view {
    .score {
        text-align: center;
        margin:     1ex;
    }

    table.scores {
        margin-left:  auto;
        margin-right: auto;

        th {
            padding:    0 1em 0 0;
            border:     0;
            text-align: left;
        }
    }
}

.grading-view .status {
    text-align: center;
    font-size:  smaller;
}


.file-list {
    table {
        a {
            text-decoration: none;
            font:            $tt-bd;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.list-eval-item {
    margin:        1em 0.25em;
    padding:       5px 10px;
    border-radius: $radius 0 $radius 0;
}

.list-eval-item.has-been-docked {
    background-color: $docked-highlight;
}

.list-eval-item.has-explanation {
    background-color: $explanation-highlight;
}

.held-back {
    padding: 1em;
}

.held-back table td {
    padding-left: 1em;
}

.question ul li {
    margin-left: 1em;
}

.question table {
    margin: 1em auto;
}

.question th {
    border: none;
}

.question td {
    text-align: center;
}

.date-list {
    margin:    1em auto;
    font-size: small;
}

.date-list td {
    padding: 0 3px;
}

.file-uploader {
    position: relative;
    display:  block;
    width:    100px;
    margin:   10px auto;
}

.file-uploader input[type=file] {
    position: absolute;
    top:      0;
    left:     0;
    width:    100%;
    height:   100%;
    opacity:  0;
}

.backup-file-uploader {
    margin: 0 auto 1em auto;
    width:  60%;
}

.backup-file-uploader input {
    display: block;
    margin:  0 auto 0 0;
}

.backup-file-uploader button {
    display: block;
    margin:  0 0 0 auto;
}

.progress-holder > * {
    visibility: visible;
    position:   fixed;
    top:        40%;
    left:       25%;
    right:      25%;
    width:      50%;
}

.highscores table {
    width:         60ex;
    margin-top:    20px;
    margin-bottom: 20px;

    border-style:  solid;
    border-color:  $dark-grey;
    border-width:  2px;
    color:         $deep-grey;
}

.highscores td, th {
    border-style: solid;
    border-width: 1px;
    border-color: $medium-grey;
    padding:      3px;
}

.highscores th {
    font-variant: small-caps;
}

.highscores tr#self {
    font-style:   italic;
    font-weight:  bold;
    font-variant: normal;
}

.fineprint {
    font-size: smaller;
}

.score {
    font-size: large;
}

.wordcontainer {
    border-style: solid;
    font-family:  monospace;
    font-size:    xx-large;
}

.hangman-widget select {
    margin-top: 10px;
}

.buttons, .buttons-inline, .dialog-buttons {
    button, input {
        margin: 0 5px;
    }
}

.buttons {
    margin:     1em 0;
    text-align: center;
}

.dialog-buttons {
    margin:     1em 0;
    text-align: right;
}

.gsc-auth-logged-in, .gsc-auth-not-logged-in {
    position:         fixed;
    top:              10px;
    right:            10px;
    font-size:        125%;
    z-index:          1000;
    background-color: white;
}

.line-link {
    color:           darkred;
    cursor:          pointer;
    text-decoration: underline;
}

.broken-line-link {
    color:           darkred;
    cursor:          not-allowed;
    text-decoration: wavy black line-through;
}

.submission-grade {
    text-align: center;
    font-size:  200%;
}

.partner-notification {
    border:                 1px solid;
    border-top-left-radius: $radius;
    margin-bottom:          1em;
    padding:                0.5em;

    .buttons {
        margin: 0.5em 0;
    }
}

.partner-confirmer {
    border-color:     darkred;
    background-color: #FCC;
}

.partner-pending {
    border-color:     darkorange;
    background-color: #FFC;
}

.partner-requestor {
    border-color:     darkgreen;
    background-color: #CFC;
}

.quota-display {
    width:      100%;
    margin:     10px auto;
    text-align: center;
}

#api-key-input {
    text-overflow: ellipsis;
    width:         10ex;
    cursor:        grab;
}

.username, .input-monospace {
    font: $tt-h4;
}

.date-edit,
.time-edit {
    display:       inline;
    padding:       0 6px;
    font:          $tt-sm;
    text-overflow: ellipsis;
}

input.username,
.points-edit {
    display: inline;
    padding: 0 4px;
    font:    $tt-ls;
}

.points-edit {
    text-align: center;
    width:      3em;
}

input.username {
    min-width: 10em;
}

.date-edit {
    border-right-style:         hidden;
    border-top-right-radius:    0;
    border-bottom-right-radius: 0;
}

.time-edit {
    border-left-style:         hidden;
    border-top-left-radius:    0;
    border-bottom-left-radius: 0;
}

.assignments-view {
    .date-edit {
        width: 115px;
    }

    .time-edit {
        max-width: 95px;
    }
}

.submissions-view {
    .date-edit {
        width: 9.5em;
    }

    .time-edit {
        width: 7em;
    }
}

.user-selector {
    display: inline;
}

$hlog-gap:                 6px;
$hlog-skip:                10px;
$hlog-indent:              72px;

.html-single-file-viewer .html-file-contents {
    font: $sf-sm;

    .test-case {
        margin:           12px 6px;
        padding:          0;
        border:           2px solid #AAA;
        border-radius:    2px;
        background-color: #EEE;
    }

    h3,  // deprecated
    summary {
        font:             $sf-bd;
        margin:           0;
        padding:          6px;
        color:            white;
        background-color: $dark-grey;

        h3 {
            display: inline;
            font:    inherit;
            margin:  0;
            padding: 0;
        }
    }

    .test-case-body {
        h4, p {
            margin:  $hlog-skip $hlog-indent $hlog-gap $hlog-gap;
            padding: 0;
        }

        h4.test-result {
            margin: 0 0 $hlog-skip $hlog-indent;
        }

        h4.error {
            font-weight: 800;
            color:       #933;
        }

        .passed strong {
            color: #090;
        }

        .failed strong {
            color: #C00;
        }

        .exit-success, .exit-error {
            font-style: normal;
        }

        .exit-success {
            color: #090;
        }

        .exit-error {
            color: #900;
        }
    }

    table.points-summary {
        margin:           1em auto;
        min-width:        60%;

        border-radius:    $radius 0;
        color:            $dark-grey;
        background-color: $highlight-bg;

        thead th {
            font-weight: 300;
            font-size:   200%;
            width:       auto;
        }

        th {
            font-weight:      300;
            font-size:        150%;
            margin:           0;
            color:            white;
            background-color: $dark-grey;
        }

        td {
            padding: 0.25ex 1em;
        }
    }
}

code.grep_output, // deprecated in favor of code.grep-output
code.io_lines, // deprecated in favor of code.io-lines
code.grep-output,
code.io-lines {
    display:       block;
    //max-width:     calc(100% - 2 * #{$hlog-gap});
    margin:        $hlog-gap;
    padding:       $hlog-gap;
    border:        1px solid #AAA;
    border-radius: 2px;
    font:          $tt-ls;
}

code.grep_output,
code.grep-output {
    color:            $deep-grey;
    background-color: #FFD;
    white-space:      pre-wrap;
    overflow-wrap:    break-word;

    strong {
        font-weight: normal;
        color:       #C00;
    }

    small {
        opacity: 50%;
    }
}

code.io_lines,
code.io-lines {
    $io-bg-color:     #345;
    $io-bg-step:      2px;

    ::selection {
        color:            white !important;
        background-color: $nu-purple !important;
    }

    @function alpha($base, $alpha) {
        @return adjust-color($base, $alpha: $alpha);
    }

    @mixin term-io-line($sel, $color, $redir) {
        #{$sel} {
            position:      relative;
            display:       block;
            white-space:   pre-wrap;
            overflow-wrap: break-word;
            overflow:      hidden;
            color:         adjust-color($color, $saturation: -20%, $lightness: -20%);
        }

        #{$sel}:not(:last-child) {
            margin-bottom: $code-line-vskip;
        }

        #{$sel}:first-line {
            color: $color;
        }

        #{$sel}:hover:after {
            content:          $redir;
            display:          inline;
            position:         absolute;
            right:            0;
            bottom:           0;
            padding:          $io-bg-step;
            border:           $io-bg-step solid alpha($io-bg-color, -0.5);
            margin-bottom:    -2 * $io-bg-step;
            color:            white !important;
            background-color: alpha($io-bg-color, -0.25);
            vertical-align:   baseline;
        }
    }

    @mixin hover-highlight($sel, $description, $extra-hspace: 0) {
        #{$sel} {
            position:    relative;
            border:      1px dotted pink;
            color:       white;
            margin:      0 $extra-hspace;
            padding:     0 $extra-hspace;
            white-space: pre;
        }

        #{$sel}:hover:after {
            content:     '# ' $description;
            position:    absolute;
            margin-left: 1em;
            font:        $tt-ls;
            font-style:  italic;
            color:       yellow;
        }
    }

    color:            white;
    background-color: $io-bg-color;

    @include term-io-line('.stdin', #ADA, '<&0');
    @include term-io-line('.stdout', #9CF, '>&1');
    @include term-io-line('.stderr', #DAA, '>&2');
    @include term-io-line('.stdlog', #DD9, '>&3');

    @include hover-highlight('.control-char', 'control character');
    @include hover-highlight('.no-newline', 'no final newline', $extra-hspace: 1px);
    @include hover-highlight('.trailing-ws', 'trailing whitespace');
}

span.txt-only {
    display: none;
}

