body {
    font-family: sans-serif;
}

.home-link {
    cursor: pointer;
}

.admin-view table {
    margin: 10px auto;
}

.admin-view table td {
    padding: 5px;
}

.admin-view table td select,
.admin-view table td input {
    margin-right: 10px;
    width: 80px;
}

.submission-owner-widget {
    width: 240px;
    text-align: center;
    margin: 0 auto 1em auto;
}

input.username {
    width: 60px;
}

.submissions-view table {
    margin: 10px auto;
}

.submissions-view table td {
    padding: 5px;
    vertical-align: middle;
}

.submissions-view table .future {
    color: lightgray;
}

.submissions-view table .past {
    color: lightgray;
}

.submissions-view table .past input {
    background-color: lightgray;
}

.submissions-view .extended input {
    color: red;
}

.submissions-view table .invalid,
.assignments-view table .invalid {
    border: 3px dotted red;
}

.submissions-view table .open,
.submissions-view table .self-eval {
    background-color: lightyellow;
}

.submissions-view table button {
    display: block;
    margin: 0 auto;
}

.submissions-view table input {
    width: 100px;
    margin: 0;
}

.assignments-view table {
    margin: 1em auto;
    vertical-align: middle;
}

.assignments-view table input {
    margin: 0;
}

.assignments-view .points {
    width: 1.5em;
}

.assignments-view .name {
    width: 10em;
}

.assignments-view .date-edit {
    width: 100px;
}

.assignments-view .time-edit {
    width: 80px;
}

.edit-assignment-view {
    padding: 1em;
}

.edit-eval-item .prompt {
    width: 600px;
    height: 3em;
}

.edit-eval-item .relative-value {
    width: 30px;
}

.file-viewer {
    position: relative;
    font-size: 90%;
    padding: 5px;
    border: 1px solid lightgrey;
    width: 630px;
    height: 470px;
    line-height: 105%;
}

.file-viewer h4 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.evaluation-view .right-column {
    padding: 0 10px;
}

.evaluation-view .score {
    text-align: center;
}

.evaluation-view .explanation {
    width: 100%;
    height: 8em;
}

.evaluation-view table.scores {
    margin-left: auto;
    margin-right: auto;
}

.evaluation-view table.scores th {
    padding: 0 1em 0 0;
    border: 0;
    text-align: left;
}

.code-line {
    font-family: monospace;
    white-space: pre;
}

.code-number {
    font-size: 85%;
    color: grey;
    padding-right: 10px;
    text-align: center;
}

.file-list {
    margin: 0 auto;
}

.file-list a {
    text-decoration: none;
}

.file-list a:hover {
    text-decoration: underline;
}

.file-list td {
    padding: 2px 5px;
}

.file-list button {
    padding: 0 3px !important;
}

.date-list {
    margin: 1em auto;
    font-size: small;
}

.date-list td {
    padding: 0 3px;
}

.file-uploader {
    position: relative;
    display: block;
    width: 100px;
    margin: 10px auto;
}

.file-uploader input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.file-list-loc {
    text-align: right;
}

h1 {
    font-weight: normal;
    margin: .5em 10px 0 10px;
    padding: 0;
}

h2 {
    font-weight: normal;
}

.highscores table {
    width: 60ex;
    margin-top: 20px;
    margin-bottom: 20px;

    border-style: solid;
    border-color: #555;
    border-width: 2px;
    color: #333;
}

.highscores td, th {
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    padding: 3px;
}

.highscores th {
    font-variant: small-caps;
}

.highscores tr#self {
    font-style: italic;
    font-weight: bold;
    font-variant: normal;
}

.fineprint {
    font-size: smaller;
}

.score {
    font-size: large;
}

.wordcontainer {
    border-style: solid;
    font-family: monospace;
    font-size: xx-large;
}

.hangman-widget select {
    margin-top: 10px;
}

.buttons button,
.dialog-buttons button {
    margin: 0 5px;
}

.buttons {
    margin: 1em 0;
    text-align: center;
}

.dialog-buttons {
    margin: 1em 0;
    text-align: right;
}

.Wt-auth-logged-in {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 90%;
    z-index: 1;
    background-color: white;
}
